.boardContainer {
  width: 100%;
  max-width: 40%;
  margin: 0 auto 10px;

  @media (max-width: 992px) {
    max-width: 45%;
  }
  @media (max-width: 768px) {
    max-width: 60%;
  }
  @media (max-width: 480px) {
    max-width: 100%;
  }
}

.boardStatus {
  margin-bottom: 10px;
}

.boardRow {
  width: 100%;
  display: flex;

  button {
    width: 100%;
    margin: 0;
    border-radius: 0;
    background: transparent;
    padding: 0;
    border: none;
    position: relative;

    &:hover {
      background-color: #f0f0f0;
      @media (prefers-color-scheme: dark) {
        background-color: #f9f9f929;
      }
    }

    &:focus,
    &:active {
      background-color: hsla(0, 0%, 94%, 0.607);
      outline: none;
      @media (prefers-color-scheme: dark) {
        background-color: hsla(0, 0%, 94%, 0.478);
      }
    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 100%;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 5rem;
    }

    @media (prefers-color-scheme: dark) {
      border-color: #f9f9f95e !important;
    }

    &.buttonX span {
      color: lightblue;
    }

    &.buttonY span {
      color: lightcoral;
    }

    &.buttonX.highlight {
      background-color: lightcyan;
    }

    &.buttonY.highlight {
      background-color: lightpink;
    }
  }

  &:first-child button {
    border-bottom: 5px solid #1a1a1a;
  }

  &:last-child button {
    border-top: 5px solid #1a1a1a;
  }

  &:first-child button:first-child,
  &:nth-child(2) button:first-child,
  &:last-child button:first-child {
    border-right: 5px solid #1a1a1a;
  }

  &:first-child button:last-child,
  &:nth-child(2) button:last-child,
  &:last-child button:last-child {
    border-left: 5px solid #1a1a1a;
  }
}
